<div class="banner" style="background-image: url(<%= @list.image_url %>)">
</div>
<div class="banner-info">
  <h1><%= @list[:name] %></h1>
</div>

<div class="container">
  <div class="movie-cards-grid mb-4 mt-4">
    <% @list.bookmarks.each do |bookmark| %>
      <%= render "lists/partials/movie_card", bookmark: bookmark %>
    <% end %>

    <div class="movie-card black-card" data-controller="form-dropdown" data-action="click->form-dropdown#clickAddMovie">
      <p class="add-movie-btn", data-form-dropdown-target="moviebutton">Add a Movie</p>
      
      <div class="d-none movie-form" data-form-dropdown-target="form">
        <%= simple_form_for [@list, @bookmark = Bookmark.new] do |f| %>
          <%= f.input :comment %>
          <%= f.association :movie %>
          <%= f.button :submit, class:"add-movie-btn form-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
